.form-control:focus {
  box-shadow: none;
  color: #2C2C2C !important;
  border: 1px solid #FE5F1E !important;
}

input {
  border-radius: 50px !important;
}

textarea {
  border-radius: 10px !important;
}

.form-control {
  border-color: #f0f0f0;
}