$default-text-color: #2C2C2C;
$secondary-text-color: #B6B6B6;
$light-orange-color: #ff7b47;
$default-bg-color:#FE5F1E;
$default-hover-bg: #e85318;
$light-hover-bg:#FFF5F1;
$dark-bg-color:#282828;
$secondary-border-color:#d3d3d3;
$light-border-color:#f6f6f6;
$ui-border-color:#f0f0f0;
$default-shadow:0 4px 10px rgba(0,0,0,.08);
$body-bg:#fff;